{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'inventory/style.css' %}"
    />
    <title>{% block title %}Django Delights Caffe{% endblock %}</title>
    {% block head %} {% endblock %}
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="{% static 'inventory/coffee.png' %}"
          alt="logo"
          width="80px"
        />
        Django Delights Caffe
      </div>
      {% if user.is_authenticated %}
      <a class="logout" href="{% url 'logout' %}">
        <img
          src="{% static 'inventory/logout.png' %}"
          alt="Logout"
          width="25px"
          text-align="center"
      /></a>
      {% endif %}
      <nav class="navbar">
        <a class="nav-item" href="{% url 'home' %}">Home</a>
        <a class="nav-item" href="{% url 'ingredients' %}">Ingredients</a>
        <a class="nav-item" href="{% url 'menu' %}">Menu</a>
        <a class="nav-item" href="{% url 'purchases' %}">Purchases</a>
        <a class="nav-item" href="{% url 'profit' %}">Revenue and Profit</a>
      </nav>
    </header>
  </body>
  {% block content %} {% endblock %}
</html>
