{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'inventory/style.css' %}"
    />
    <title>{% block title %}Django Delights Caffe{% endblock %}</title>
    {% block head %} {% endblock %}
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="{% static 'inventory/cup.png' %}" alt="logo" width="80px" />
        Django Delights Caffe
      </div>
      <nav class="navbar">
        <a class="nav-item" href="{% url 'home' %}">Home</a>
        <a class="nav-item" href="{% url 'ingredients' %}">Ingredients</a>
        <a class="nav-item" href="{% url 'menu' %}">Menu</a>
        <a class="nav-item" href="{% url 'purchases' %}">Purchases</a>
        <a class="nav-item" href="{% url 'profit' %}">Revenue and Profit</a>
      </nav>
    </header>
  </body>
  {% block content %} {% endblock %}
</html>
