{% extends 'base.html' %} {% load static %} {% block title %}Django Delights
Caffe{% endblock %} {% block content %}
<h2>Igredients Inventory</h2>
<table>
  <thead>
    <tr class="table-heading">
      <th>Ingredient</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Price per unit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for ingr in ingredients %}
    <tr class="table-content">
      <td>{{ ingr.name }}</td>
      <td>{{ ingr.quantity }}</td>
      <td>{{ ingr.unit }}</td>
      <td>{{ ingr.unit_price }}</td>
      <td><a href="{% url 'ingredientupdate' %}">Update</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <a href="{% url 'ingredientcreate' ingr.id %}">➕ Add New Ingredient</a>
</div>
{% endblock %}
