{% extends 'base.html' %} {% load static %} {% block title %}Django Delights
Caffe{% endblock %} {% block content %}
<h2>
  <img
    src="{% static 'inventory/eggs.png' %}"
    alt="ingredient"
    width="80px"
    text-align="center"
  />
  Igredients Inventory
</h2>
<table>
  <thead>
    <tr class="table-heading">
      <th>Ingredient</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Price per unit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for ingr in ingredients|dictsort:"name" %}
    <tr class="table-content">
      <td>{{ ingr.name }}</td>
      <td>{{ ingr.quantity }}</td>
      <td>{{ ingr.unit }}</td>
      <td>{{ ingr.unit_price }}</td>
      <td>
        <a class="update" href="{% url 'ingredientupdate' ingr.id %}">Update</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <a class="add" href="{% url 'ingredientcreate' %}">➕ Add New Ingredient</a>
</div>
{% endblock %}
