{% extends 'base.html' %} {% load static %}{% block title %}Django Delights
Caffe{% endblock %} {% block content %}
<h2>
  <img src="{% static 'inventory/menu.png' %}" alt="ingredient" width="80px" />
  Menu
</h2>
<table class=>
  <thead>
    <tr class="table-heading">
      <th>Dessert and Hotdrinks</th>
      <th></th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for menu_item in object_list %}
    <tr class="table-content">
      <td>
        <dl>
          <dt class="dessert-name">{{ menu_item.title }}</dt>
          {% for recipe in menu_item.reciperequirement_set.all %}
          {% for ingredient in ingredients %}
          {% if ingredient.name == recipe.ingredient.name and ingredient.quantity < recipe.quantity %}
            <dd style="color: red">{{ recipe.ingredient.name }}</dd>
          {% elif ingredient.name == recipe.ingredient.name and ingredient.quantity >= recipe.quantity %}
            <dd style="color: black">{{ recipe.ingredient.name }}</dd>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </dl>
      </td>
      <td style="color: red">
      {% for recipe in menu_item.reciperequirement_set.all %}
      {% for ingredient in ingredients %}
      {% if ingredient.name == recipe.ingredient.name and ingredient.quantity < recipe.quantity %}
         Run out of {{ recipe.ingredient.name }}. 
      {% endif %}
      {% endfor %}
      {% endfor %}
    </td>
      <td>£{{ menu_item.price }}</td>
    </tr>
    {% endfor %}
    <p></p>
  </tbody>
</table>
<div>
  <a class="add" href="{% url 'menucreate' %}">➕ Add New Menu Item</a><br /><br/>
  <a class="add" href="{% url 'recipecreate' %}">➕ Add Recipe for Menu Item</a>
</div>
{% endblock %}
