{% extends 'base.html' %} {% block content %}
<h2>Menu</h2>
<table>
  <thead>
    <tr>
      <th>Dessert</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for menu_item in object_list %}
    <tr>
      <td>
        <dl>
          <dt>{{ menu_item.title }}</dt>
          {% for recipe in menu_item.reciperequirement_set.all %}
          <dd>{{ recipe.ingredient.name }}</dd>
          {% endfor %}
        </dl>
      </td>
      <td>{{ menu_item.price }}</td>
    </tr>
    {% endfor %}
    <p></p>
  </tbody>
</table>
{% endblock %}
