{% extends 'base.html' %} {% load static %} {% block title %}Django Delights
Caffe{% endblock %} {% block content %}
<h2>
  <img
    src="{% static 'inventory/profit.png' %}"
    alt="ingredient"
    width="50px"
  />
  Revenue and profit
</h2>
<table>
  <thead>
    <tr class="table-heading">
      <th>Dessert</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for menu_item in menu %}
    <tr class="table-content">
      <td>{{ menu_item.title }}</td>
      <td>£{{ menu_item.price }}</td>
      <td>£{{ item_cost }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<table class="report">
  <tr>
    <td class="report-metrix">Revenue</td>
    <td id="revenue">£{{ revenue|floatformat:2 }}</td>
  </tr>
  <tr>
    <td class="report-metrix">Total cost</td>
    <td id="cost">£{{ total_cost|floatformat:2 }}</td>
  </tr>
  <tr>
    <td class="report-metrix">Profit</td>
    <td id="profit">£{{ profit|floatformat:2 }}</td>
  </tr>
</table>
{% endblock %}
