{% extends 'base.html' %} {% load static %} {% block title %}Django Delights
Caffe{% endblock %} {% block content %}
<h2>
  <img
    src="{% static 'inventory/profit.png' %}"
    alt="ingredient"
    width="50px"
  />
  Revenue and profit
</h2>
<table>
  <thead>
    <tr class="table-heading">
      <th>Desserts and Hotdrinks</th>
      <th>Price</th>
      <th>Cost</th>
      <th>Quantity ordered</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase, item, menu_item in item_report %}
    <tr class="table-content">
      <td>{{ menu_item.title }}</td>
      <td>£{{ menu_item.price }}</td>
      <td>£{{ item.cost|floatformat:2 }}</td>
      <td>{{ purchase.total }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  From: <input type="date" name="fromdate" /> To:
  <input type="date" name="todate" />
  <input type="submit" value="Search" />
</div>
<table class="report">
  <tr>
    <td class="report-metrix">Revenue</td>
    <td id="revenue">£{{ revenue|floatformat:2 }}</td>
  </tr>
  <tr>
    <td class="report-metrix">Total cost</td>
    <td id="cost">£{{ total_cost|floatformat:2 }}</td>
  </tr>
  <tr>
    <td class="report-metrix">Profit</td>
    <td id="profit">£{{ profit|floatformat:2 }}</td>
  </tr>
</table>
{% endblock %}
